<mat-toolbar color="primary" class="mat-elevation-z1">
  <mat-toolbar-row>
    <span class="logo" routerLink="/dashboard"><img src="../../assets/images/logo.png"><span class="name">Company Name</span></span>
    <span class="spacer"></span>
    <app-search></app-search>
    <span class="spacer"></span>
    <mat-nav-list class="nav-bar" fxLayout="row" fxLayoutAlign="center stretch" role="navigation" dense>
      <mat-list-item>Add a User</mat-list-item>
      <mat-list-item><mat-icon matListIcon>person</mat-icon>User Name</mat-list-item>
    </mat-nav-list>
  </mat-toolbar-row>
</mat-toolbar>

