<div id="banner" class="banner">
  <div class="banner-image">
    <div class="backstretch">
      <img src="/assets/images/banner.jpg">
    </div>
  </div>
  <div class="banner-caption">
    <div class="container">
      <div class="row">					 
        <div class="caption-data animated object-visible fadeIn">
            <h1>iPhone Users</h1>
            <h3 class="padding-top30">Lets find out how many iPhone users are there in the world.</h3>
            <div class="padding-top60 contact-form">
              <button mat-stroked-button routerLink="/search result">CHECK NOW</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
